# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production & desktop builds
/build
/dist
/*.exe
/*.blockmap

# local databases & backups
/*.db
/*.db-journal
/database
/backups
/scratch

# debug & logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# local env files
.env*.local
.env

# vercel & system
.vercel
.DS_Store
*.pem
*.tsbuildinfo
next-env.d.ts
